Apuntes/Apuntes_LenguajeDeMarcas/Ejercicios/Ejercicio_Relacion4/Ejercicio3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="reservas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reserva">
                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="cliente">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern
                                                        value="[A-ZÁÉÍÓÚÑ]+[a-záéíóúñ]+ [A-ZÁÉÍÓÚÑ]+[a-záéíóúñ]+"></xs:pattern>
                                                </xs:restriction>
                                            </xs:simpleType>


                                        </xs:element>


                                        <xs:element name="dni">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="\d{8}[A-Z]+"></xs:pattern>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>

                            </xs:element>


                            <xs:element name="habitacion">
                                <xs:complexType>
                                    <xs:attribute name="tipo" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Simple"></xs:enumeration>
                                                <xs:enumeration value="Doble"></xs:enumeration>

                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>


                                    <xs:attribute name="numero" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:integer">
                                                <xs:pattern value="\d{3}"></xs:pattern>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>


                            <xs:element name="fechaEntrada" type="xs:date"></xs:element>
                            <xs:element name="fechaSalida" type="xs:date"></xs:element>
                            <xs:element name="precioTotal">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minInclusive value="0"></xs:minInclusive>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                        </xs:sequence>

                        <xs:attribute name="codigo" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="R\d{3}"></xs:pattern>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>


    </xs:element>


</xs:schema>